[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

django = "*"
wheel = "*"
pillow = "*"
"psycopg2" = "*"
django-environ = "*"
django-markup = "*"
markdown = "*"
django-allauth = "*"
django-extensions = "*"
"argon2-cffi" = "*"


[dev-packages]

django-debug-toolbar = "*"
