{% extends "base.html" %}
{% load markup_tags %}

{% block title %}{{ galleryimage.name }}{% endblock title %}

{% block content %}
<h1>{{ galleryimage.name }}</h1>
<nav aria-label="Secondary">
    {% if previous %}
    <a href="{% url 'gallery:gallery_image' gallery_slug=galleryimage.gallery.slug slug=previous.slug %}">&laquo;
        {{previous.name}}</a>
    {% endif%}
    &vzigzag; <a href="{% url 'gallery:gallery' slug=galleryimage.gallery.slug %}">Back to
        {{galleryimage.gallery.name}}
        Gallery</a> &vzigzag;
    {% if next %}
    <a href="{% url 'gallery:gallery_image' gallery_slug=galleryimage.gallery.slug slug=next.slug %}">{{next.name}}
        &raquo;</a>
    {% endif%}
</nav>
<figure><img src="{{ MEDIA_URL }}{{ galleryimage.the_image }}" /></figure>
<section>{{ galleryimage.description|apply_markup:"markdown" }}</section>

{% endblock content %}