{% load staticfiles %}<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{% block title %}The Official Dotman Website{% endblock title %} - The Official Dotman Website</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">

  {% block css %}
    <!-- This file stores project-specific CSS -->
    <link href="{% static 'css/project.css' %}" rel="stylesheet">
  {% endblock %}
</head>

<body>

<header><h1>The Official Dotman Website</h1></header>

<div class="page">
  <nav aria-label="Primary">
    <ul>
      <li><a href="{% url 'home' %}">Home</a></li>
      <li><a href="{% url 'main:about' %}">About</a></li>
      <li><a href="{% url 'news:index' %}">News</a></li>
      <li><a href="{% url 'characters:index' %}">Characters</a></li>
      <li><a href="{% url 'places:index' %}">Places</a></li>
      <li><a href="{% url 'gallery:index' %}">Galleries</a></li>
    </ul>
    <div><strong>Dotman</strong> and related characters &reg; Chas Goguen</div>
  </nav>

  <main>
    {% if messages %}
      {% for message in messages %}
        <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">{{ message }}</div>
      {% endfor %}
    {% endif %}
    {% block content %}
      <p>Use this document as a way to quick start any new project.</p>
    {% endblock content %}
  </main>

</div>

{% block modal %}{% endblock modal %}

{% block javascript %}
  <script src="{% static 'js/project.js' %}"></script>
{% endblock javascript %}
</body>
</html>

