.alert-debug {
  color: black;
  background-color: white;
  border-color: #d6e9c6;
}

.alert-error {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;
}

/* Display django-debug-toolbar.
   See https://github.com/django-debug-toolbar/django-debug-toolbar/issues/742
   and https://github.com/pydanny/cookiecutter-django/issues/317
*/
[hidden][style="display: block;"] {
  display: block !important;
}

/* Project styles */
html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.header {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  margin: 0;
  padding: 5px;
  color: #ffffff;
  background-color: #a078c8;
}

.header > h1 {
  margin: 0;
  padding: 0;
}

/* Flexbox-based Responsive Layout */
.page {
  display: -webkit-flex;
  display: flex;
}

@media (min-width: 700px) {
  .page {
    -webkit-flex-direction: row;
    flex-direction: row;
  }

  .navigation {
    flex-basis: 25%;
  }

  .content {
    flex-basis: 75%;
  }
}

@media (max-width: 699px) {
  .page {
    -webkit-flex-direction: column;
    flex-direction: column;
  }

  .navigation {
    flex-basis: 25%;
  }

  .content {
    flex-basis: 75%;
  }
}

/* Flexbox-based Responsive Layout */

.page {
  height: 100%;
}

.navigation {
  color: #ffffff;
  background-color: #a078c8;
  margin: 0;
  padding: 0;
}

.navigation > nav {
  margin: 0;
  padding: 0;
}

.navigation > nav > ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.navigation > nav > ul:first-child {
  border-top: 1px solid #7040b8;
}

.navigation > nav > ul > li {
  border-bottom: 1px solid #7040b8;
  margin: 0;
  padding: 0;
}

.navigation > nav > ul > li > a {
  display: block;
  padding: 5px 5px 5px 0.5em;
  margin: 0;
  border-left: 12px solid #7040b8;
  border-right: 1px solid #7040b8;
  background-color: #a078c8;
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
}

.navigation > nav > ul > li > a:hover {
  background-color: #7040b8;
  color: #ffffff;
}

.navigation > div {
  padding: 1em;
}

.content {
  padding: 1em;
}

.content h1 {
  font-size: 170%;
}

.content h2 {
  padding: 5px;
  font-size: 130%;
  background-color: #a078c8;
  color: #ffffff;
}

.content h3 {
  font-size: 110%;
  color: #a078c8;
}

.content strong {
  color: #a078c8;
}
