.alert-debug {
  color: black;
  background-color: white;
  border-color: #d6e9c6;
}

.alert-error {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;
}

/* Display django-debug-toolbar.
   See https://github.com/django-debug-toolbar/django-debug-toolbar/issues/742
   and https://github.com/pydanny/cookiecutter-django/issues/317
*/
[hidden][style="display: block;"] {
  display: block !important;
}

/* Project styles */
html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.header {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  margin: 0;
  padding: 5px;
  color: #ffffff;
  background-color: #a078c8;
}

.header > div {
  margin: 0;
  padding: 0;
}

.header a {
  background-color: #a078c8;
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
}

.header a:hover {
  background-color: #ffffff;
  color: #7040b8;
}

.title {
  flex-basis: 85%;
}

.title > h1 {
  margin: 0;
  padding: 0;
}

.user-panel {
  flex-basis: 15%;
}

.page {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  height: 100%;
}

.navigation {
  flex-basis: 25%;
  color: #ffffff;
  background-color: #a078c8;
  margin: 0;
  padding: 0;
}

.navigation > nav {
  margin: 0;
  padding: 0;
}

.navigation > nav > ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.navigation > nav > ul:first-child {
  border-top: 1px solid #7040b8;
}

.navigation > nav > ul > li {
  border-bottom: 1px solid #7040b8;
  margin: 0;
  padding: 0;
}

.navigation > nav > ul > li > a {
  display: block;
  padding: 5px 5px 5px 0.5em;
  margin: 0;
  border-left: 12px solid #7040b8;
  border-right: 1px solid #7040b8;
  background-color: #a078c8;
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
}

.navigation > nav > ul > li > a:hover {
  background-color: #7040b8;
  color: #ffffff;
}

.navigation > div {
  padding: 1em;
}

.content {
  flex-basis: 75%;
  padding: 1em;
}
