{% extends "base.html" %}
{% load markup_tags %}

{% block title %}{{ character.name }}{% endblock title %}

{% block content %}
    <h1>{{ character.name }}</h1>
    <nav aria-label="Secondary"><a href="{% url 'characters:index' %}">Back to Characters</a></nav>
    <section>{{ character.vital_stats|apply_markup:"markdown" }}</section>
    {% if character.the_image %}
    <figure><img src="{{ MEDIA_URL }}{{ character.the_image }}" /></figure>
    {% endif %}
    <section>{{ character.backstory|apply_markup:"markdown" }}</section>

{% endblock content %}
