{% extends "base.html" %}

{% block title %}Characters{% endblock title %}

{% block content %}
    <h1>Characters</h1>

    {% if teams %}
        {% for team in teams %}
            <section>
                <h2>{{ team.name }}</h2>
                {% if team.character_set.all %}
                    <ul>
                        {% for character in team.character_set.all %}
                            <li><a href="{{ character.get_absolute_url }}">{{ character.name }}</a></li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </section>
        {% endfor %}
    {% endif %}

{% endblock content %}
