{% extends "base.html" %}

{% block title %}Characters{% endblock title %}

{% block content %}
    <h1>Characters</h1>

    {% if teams %}
        {% for team in teams %}
            <div>
                <h2>{{ team.name }}</h2>
                {% if team.character_set.all %}
                    <ul>
                        {% for character in team.character_set.all %}
                            <li>{{ character.name }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        {% endfor %}
    {% endif %}

{% endblock content %}
