{% extends "base.html" %}

{% block title %}Evan Porter{% endblock title %}

{% block content %}
<h1>Evan Porter</h1>

<nav aria-label="Secondary"><a href="{% url 'main:about' %}">Back to About</a></nav>

<p>Evan Porter is a {{ age }}-year-old comic geek / professional web developer
from Saint John, New Brunswick (or so he claims).</p>

<p>He graduated from UNB with a BCS in 2003, likes long walks on the
beach and makes self-bios snippets sound like classified ads since he hates
writing them.</p>

<p>These days, Evan lives in PEI and works doing computer stuff.</p>

{% endblock content %}
