volumes:
  db_data: {}
  s3_data: {}
  s3_logs: {}

x-env: &env_list
  - POSTGRES_PASSWORD=django_pass
  - POSTGRES_USER=django_user
  - POSTGRES_HOST=db
  - POSTGRES_PORT=5432
  - POSTGRES_DB=django_user
  - DJANGO_ADMIN_URL=^admin/
  - DJANGO_SETTINGS_MODULE=config.settings.local
  - DJANGO_SECRET_KEY=fantastic # Don't use in prod
  - DJANGO_ALLOWED_HOSTS=.dotman.ca,localhost,webapp,127.0.0.1
  - DJANGO_SECURE_SSL_REDIRECT=False
  - DJANGO_ACCOUNT_ALLOW_REGISTRATION=True
  - USE_S3=True
  - AWS_S3_ENDPOINT_URL=http://localhost:9000
  - AWS_ACCESS_KEY_ID=dotmanca
  - AWS_SECRET_ACCESS_KEY=dotmanca
  - AWS_STORAGE_BUCKET_NAME=dotmanca
  - AWS_S3_REGION_NAME=
  - "AWS_S3_URL_PROTOCOL=http:"
  - AWS_S3_CUSTOM_DOMAIN=localhost:9000/dotmanca
  - STATIC_LOCATION=static
  - PUBLIC_MEDIA_LOCATION=media

services:

  devcontainer:
    build:
      dockerfile: Dockerfile
    environment: *env_list
    volumes:
      - ../..:/workspaces:cached
    # ports:
    #   - "8080:8080"
    command: sleep infinity
    network_mode: service:s3

  db:
    image: postgres:16
    volumes:
      - db_data:/var/lib/postgresql/data
    environment: *env_list
    ports:
      - "5432:5432"

  s3:
    image: rustfs/rustfs:latest
    volumes:
      - s3_data:/data
      - s3_logs:/app/logs
    environment:
      - RUSTFS_VOLUMES=/data
      - RUSTFS_ADDRESS=0.0.0.0:9000
      - RUSTFS_CONSOLE_ADDRESS=0.0.0.0:9001
      - RUSTFS_CONSOLE_ENABLE=true
      - RUSTFS_ACCESS_KEY=s3_admin
      - RUSTFS_SECRET_KEY=s3_admin
      - RUSTFS_CORS_ALLOWED_ORIGINS=*
      - RUSTFS_CONSOLE_CORS_ALLOWED_ORIGINS=*
    ports:
      - "9000:9000"
      - "9001:9001"
    healthcheck:
      test: ["CMD", "sh", "-c", "curl -f http://localhost:9000/health && curl -f http://localhost:9001/rustfs/console/health"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 40s
    restart: unless-stopped

  createbucket:
    image: minio/mc
    depends_on:
      s3:
        condition: service_healthy
    entrypoint: >
      /bin/sh -c "
      # 1. Wait RustFS to start completely (Double check)
      echo 'Waiting for RustFS...'
      mc alias set rustfs http://s3:9000 s3_admin s3_admin

      echo '2. Create public bucket if not exists'
      mc mb rustfs/dotmanca --ignore-existing

      echo '3. Set Policy PUBLIC (Download only) for public bucket'
      mc anonymous set download rustfs/dotmanca

      echo 'RustFS Configuration Complete!'
      "
