{% extends "base.html" %}

{% block content %}
<h1>Evan Porter</h1>

<div class="centered"><a href="{% url 'main:about' %}">Back to About</a></div>

<p>Evan Porter is a {{ age }}-year-old comic geek / professional web developer
from Saint John, New Brunswick (or so he claims).</p>

<p>He graduated from UNB with a BCS in 2003, likes long walks on the
beach and makes self-bios snippets sound like classified ads since he hates
writing them.</p>

<p>These days, Evan lives in PEI and works doing computer stuff.</p>

<!--<h2>Contacting Evan</h2>
<div>
Email: <a href="mailto:webmaster@dotman.ca">webmaster@dotman.ca</a><br />
Nothin' Message Board: <a href="http://dotman.ca/nothin/msgboard/">Click Here.</a>
</div>-->

{% endblock content %}
